body {
  margin: 0;
  padding: 0%;
  font-family: Helvetica;
}
.footer {
  background-color: #ededef;
  width: 100%;
  /* height: 100px; */
  border: 1px solid black;
  margin-top: 20px;
}
.mainn {
  display: flex;
}

li {
  list-style: none;
  line-height: 30px;
  text-align: left;
}

a {
  text-decoration: none;
  color: rgba(51, 51, 51, 0.75);
}

.mostpopular {
  margin: 30px;
  margin-left: 70px;
  width: 900px;
}

.customer {
  margin-top: 2%;
  margin-left: 150px;
  width: 700px;
}

.first {
  font-weight: bolder;
}

.line {
  border-left: 1px solid rgba(195, 195, 195, 0.5);
  height: 400px;
  margin-left: 150px;
  margin-top: 70px;
}

.subscribe {
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 20px;
}

.rights {
  border-top: 1px solid rgba(195, 195, 195, 0.5);
  margin-top: 30px;
  display: flex;
}

#rights {
  margin-left: 370px;
}

#best {
  margin-left: 60px;
}

h2 {
  font-size: 20px;
}

.subscribe span {
  color: #1e9ad0;
  font-weight: bold;
}

.subscribe a {
  color: #1e9bcf;
}

.subscribe h2 {
  font-size: 20px;
}

.subscribe p {
  width: 350px;
  color: rgba(51, 51, 51, 0.75);
}
