.menfirst {
  border: 1px solid silver;
  margin-bottom: 20px;
  padding: 20px;
}

.fisthalf {
  display: flex;
}
 .menfirst img {
  transition: all 0.2s ease-in-out;
}
 .menfirst img:hover {
  transform: scale(0.9);
}

.fisthalf > div {
  margin-right: 20px;
}

.hottestdeals {
  margin-left: 30px;
}


.menwomen{
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 20px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

  margin-top: 20px;
}