body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: normal;
  font-size: 16px;
}
 .home {
  max-width: 1680px;
  min-width: 1030px;
  width: 100%;
  margin: 0 auto;
  padding: 16px 16px;
}
.imgg {
  min-height: 1px;
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
}
.freehomedel,
.kids,
.special {
  width: 100% !important;
  height: 100%;
  border-radius: 0;
  vertical-align: middle;
  border-style: none;
  max-width: 100%;
  box-sizing: border-box;
  cursor: pointer;
} 

#main {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 350px 350px 350px 350px 350px;

  /* grid-row-gap: 20px;
  grid-column-gap: 25px; */
  gap: 20px;

  width: 1000px;
  height: 1900px;
  margin-left: 20px;
  margin-top: 30px;
}

#main > div {
  width: 50%;
}
 .footer {
  background-color: #ededef;
  width: 100%;
  height: 550px;
   /* border: 1px solid black;  */
 margin-top: -40px;
}
.main {
  display: flex;
}

li {
  list-style: none;
  line-height: 30px;
  text-align: left;
}

a {
  text-decoration: none;
  color: rgba(51, 51, 51, 0.75);
}

.mostpopular {
  margin: 30px;
  margin-left: 70px;
  width: 700px;
}

.customer {
  margin-top: 2%;
  margin-left: 50px;
  width: 800px;
}

.first {
  font-weight: bolder;
}

.line {
  border-left: 1px solid rgba(195, 195, 195, 0.5);
  height: 300px;
  margin-left: 2px;
  margin-top: 70px;
}

.subscribe {
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 200px;
}

.rights {
  border-top: 1px solid rgba(195, 195, 195, 0.5);
  margin-top: 30px;
  display: flex;
}

#rights {
  margin-left: 350px;
}

#best {
  margin-left: 100px;
}

h2 {
  font-size: 20px;
}

span {
  color: #1e9ad0;
  font-weight: bold;
}

.subscribe a {
  color: #1e9bcf;
}

.subscribe h2 {
  font-size: 20px;
}

.subscribe p {
  width: 350px;
  color: rgba(51, 51, 51, 0.75);
}  
