@import url('https://fonts.googleapis.com/css?family=Varela+Round');
html, body {
    overflow-x: hidden;
    height: 100%;
}
body {
    background: #fff;
    padding: 0;
    margin: 0;
    font-family: 'Varela Round', sans-serif;
}
.header {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    background-color: #008ecc;
    position: fixed;
    height: 80px!important;
    overflow: hidden;
    z-index: 10;
}

.main {
    margin: 0 auto;
    display: block;
    height: 100%;
    margin-top: 60px;
}
.mainInner{
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
    
}
.mainInner div{
    display:table-cell;
    vertical-align: middle;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
}
#sidebarMenu {
    height: 100%;
    left: 0;
    width: 250px;
    margin-top: 10px;
    transform: translateX(-250px);
    transition: transform 250ms ease-in-out;
    background: #fff;
    box-shadow: 3px 3px 2px;
    
}


#sidebarMenu li,#sidebarMenu li a {
    color: #333 !important;
    border-bottom: 0px solid rgb(163, 163, 163);
    margin-top: -10px;
   
}
.sidebarMenuInner{
    margin:0;
    padding:0;
    border-top: 0px solid rgba(255, 255, 255, 0.10);
    margin-top: -10px;
}
.sidebarMenuInner #hello{
    background-color:#008ecc ;
    height: 82px;
    width: 250px;
    margin: 0px;
    padding: 0px;
}
.sidebarMenuInner li{
    list-style: none;
    color: #fff;
    text-transform: uppercase;
   
    padding: 8px;
    cursor: pointer;
   /* border-bottom: 1px solid rgba(255, 255, 255, 0.10); */
}

.sidebarMenuInner li span{
    display: block;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.50);
}
.sidebarMenuInner li a{
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    text-decoration: none;
}
.sidebarMenuInner button{
    background: #008ecc;
    border: 1px solid white;
    color: white;
}
input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateX(0);
}

input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
    
}
.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 22px;
    left: 15px;
    height: 22px;
    width: 22px;
    margin-left: 60px;
}
.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #fff;
    top: 10px;
}
.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}
.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 2px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}
.listMenu {
    display: flex;
    position: relative;
    top: 10px;
}
.listMenu li {
    padding-left: 40px;
    list-style-type: none;
}
.listMenu .icon{
    width: 20px;
    height: 20px;
}
.spanMenu {
    float: right;
    display: flex;
    color: #fff;
}
li input{
    width: 750px;
    padding: 7px;
    border-radius: 5px;
    border-color: transparent;
}
li button{
    background: transparent;
    border:1px solid #fff;
    padding: 3px 15px;
    background-color:rgb(131, 139, 207);
    font-size: 17px;
    color: #fff;
}
li button a{
    color: white;
    width: 300px;
    padding-left: -30px;
}
.spanMenu{
    margin-left: 50px;
} 
.spanMenu li a{
    margin-left: 50px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    margin-top: -35px;
}
#container{
    height: 780px;
    overflow-x: scroll;
    background-color:grey;
}
#container #content1{
    font-weight: normal;
    height: 200px;
}
#container #content2{
    font-weight: normal;
    margin-top:10px;
}
#container #content3{
    font-weight: normal;
    margin-top:10px;
}

/*account button color issue*/
.secondHead {
    background-color: rgb(197, 197, 197);
    padding: 5px 30px;
    position: relative;
    top: 40px;
    display: flex !important;
}
.secondHead ul {
  display: flex;
}
.secondHead li {
    list-style-type: none;
    color: #333;
    padding-left: 80px;
    position: relative;
    top: 10px;
}

.header h2{
    color: white;
    font-weight: bold;
    font-size: 30px;
    margin-left: 80px;
}
.header h3{
    font-weight: bolder;
    font-size: 15px;
    color: #fff;
    margin-top: 52px;
    margin-left: -50px;
}
.header input{
    height: 28px;
    width: 800px;
}
#mainnav{
    padding-bottom: 0px;
    margin-top: 30px;
}
#mainnav ul.submenu {
    position: absolute;
    left: 10px;
    top: 100%;
    width: 200px;
    text-align: left;
    background-color: rgb(197, 197, 197);
    display: block;
    z-index: 9999;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#mainnav ul.submenu li:first-child {
    border-top: none;
}
.submenu li{
    width: 190px;
    padding-right: 0px;
}

.submenu > li > a {
    display: block;
    width: 450px;
    color: #333;
    text-decoration: none;
    padding: 0 0 0 1px;
    line-height: 45px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    margin-left: -110px;
    border-radius: 5px;
}
.submenu li a:hover {
 
    color: #008ecc;
    background-color: #fff;
    width: 300px;
    padding-left: -90px;

}
#mainnav ul li:hover > ul.submenu {
    top: 100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    visibility: visible;
}
div img{
    width: 90px;
    height: 30px;
    margin-bottom:80px ;
    display: inline-block;
}