body{
	background-color: rgb(246,246,247);
}
#container{
	width:70%;
	border:none;
	margin:auto;
	background-color: white;
	height:550px;
	border-radius: 20px;
	margin-top: 4%;
}
#picture{
	width:40%;
	float: left;
	height:100%;
	border-radius: 60px;
}
#picture img{
	border-radius: 15px;
}
h2{
	font-size: 28px;
}
#mobileNo{
	padding-top: 30px;
	width:60%;
	float:right;
	height:100%;
	
}
#signinText{
	padding-left:20%; 
}
#pTag{
	color: rgb(103,103,103);
	text-align:left;
	padding-left:20%;
	
}
#enterPhoneNo{
   border:1px solid lightgray;
	border-radius: 9px;
	border:none;
	width:230px;
	height:35px;
	margin-top: 15%;
	padding-left: 15px;
 
}
span{
	margin-left: 20%;
	color: black;

}
#clickMe{
	width:55px;
	height:55px;
	background-color: rgb(0,142,204);
	border:none;
	margin-left: 50%;
	margin-top: 3%;
	border-radius: 40px;
	font-size:20px;
	color:lightgray;
	
}
#policy{
    width: 280px;
    margin-top: 60px;
    margin-left: 470px;
}

#policy p{
    font-size: 15px;
    display: inline;
}