.women {
  display: flex;
  margin-bottom: 20px;
}

.dress {
  display: flex;
}

.fashion {
  margin-left: 30px;
}

.kurtas {
  margin-right: 30px;
}

.starting {
  border-radius: 4%;
}

img {
  border-radius: 4%;
  transition: all 0.2s ease-in-out;
}

img:hover {
  transform: scale(0.9);
}

.secondpart {
  margin-right: 50px;
  -moz-border-radius: 4%;
  -webkit-border-radius: 4%;
  border: 1px solid rgb(131, 131, 177);
}
